<script type="application/json" id="bootstrapped-threads">
  <%= @threads.to_json(include: { messages: { include: :sender }}).html_safe %>
</script>
  <%#= @threads.to_json(include: :messages).html_safe %>







<script>
  // bootstrap that good good

  var currentUserId = <%= @current_user.id %>

  $(document).ready(function(){
    Dashboard.initialize();
  });

</script>


  <h2>Welcome to your dashboard, <%= @user.fname %>!</h2>

<section id="dashboard-side-nav" class="group">

  <a href="#/">Dashboard</a>
  <a href="#/inbox">Inbox</a>
  <a href="#/trips">Trips</a>
  <a href="#/listings">Listings</a>
  <a href="#/profile">Profile</a>

</section>

<div id="content" class="group"></div>



