<h2>Your Threads</h2>

<% threads.each( function (thread) {  %>

  <div class="thread"><%= thread.get("id") %></div>

  <ul class="thread-messages">
    <% thread.messages.each(function (message) {  %>
      <li class="message group">
        <%= message.get("body") %>
        <time class="time-ago"><%= message.get("created_at") %></time>
      </li>
    <% }); %>
  </ul>
<% }); %>


