
<h2>All Notifications:</h2>
<hr>
<br>
<ul id="notifications-index">
  <% if @notifications %>
      <% @notifications.each do |notification| %>

      <li class="notification">
          <a href="<%= notification_url(notification) %>">
            <%= notification.is_read == true ?
            "&Oslash".html_safe : "O".html_safe %>
            <%= notification.text %>
          </a>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<h4 class="note-page"><%= paginate @notifications %></h4>

