  <div id='map'></div>
  <script>
  var map = L.mapbox.map('map', 'examples.map-9ijuk24y')
      .setView([34.1009953, -117.8194197], 2);
  </script>


<h3>All Listings</h3><hr>

<% @listings.each do |room| %>
  <a href="<%= room_url(room) %>">
    <%= "#{ MAKE_NICE[room.home_type] } in #{ MAKE_NICE[room.address_city] }" %>
  </a>
  <br><br>
<% end %>

<br><br>



