<h2>Your Listings</h2>

<% @listings.each do |room| %>

    <%= room.display_title %><br>
  <a href="<%= room_url(room) %>">
    View Listing
  </a>
  <% if current_user.id == room.owner_id %> |
    <a href="<%= manage_room_url(room) %>">Manage Listing</a>
  <% end %>
  <br><br>


<% end %>

<br><br>

