<h2>Your Listings</h2>

<% @listings.each do |room| %>


  <a href="<%= room_url(room) %>">
    <%= room.display_title %>
  </a>
  <% if current_user.id == room.owner_id %>
    <a href="<%= manage_room_url(room) %>">| Manage This Listing</a>
  <% end %>
  <br><br>


<% end %>

<br><br>

