<h2><%= @user.fname %>'s Listings</h2>

<% @listings.each do |room| %>
  <a href="<%= room_url(room) %>">
    <%= "#{ MAKE_NICE[room.home_type] } in #{ MAKE_NICE[room.address_city] }" %>
  </a>
  <br><br>
<% end %>

<br><br>

