/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require mapbox
 *= require_tree .
 */

  body, h1, h2, h3, h4, a, nav, ul, li, form, p, label {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  input[type="text"],
  button,
  textarea {
    padding: 0;
    margin: 0;
    border: 0;
    font:inherit;
    font-size: 100%;
    vertical-align: baseline;

    outline: 0;
    background: transparent;
    color: inherit;
    display: inline-block;
  }

  #map {
    position:relative;
    bottom:0;
    width:100%;
    height: 500px;
    z-index: -1;
  }

  #all-rooms-map {
    position:relative;
    bottom:0;
    width:100%;
    height: 500px;
    z-index:-1;
  }

  body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: #5a5a5a;
    line-height: normal;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: #5a5a5a;
  }

  a:visited {
    color: #5a5a5a;
  }

  a:hover {
    color: #16B2B9;
  }

  label {
    display: block;
  }

  h1 {

  }

  ul {
    list-style: none;
  }

  li {
    display:inline;
  }

  li > a {
    display: inline-block;
    padding: 15px 10px;
  }

  li > form {
    display: inline-block;
    padding: 10px;
  }

  .group:after {
    clear: both;
    content: "";
    display: block;
  }

  nav.primary {
    background-color: #FFF;
    background-image:
    -webkit-linear-gradient(top, #fff 0%, #f9f9f9 49%, #f2f2f2 51%, #f0f0f0 100%);
    height:50px;
    min-width: 950px;
    width: auto;
  }

  nav.primary > ul > li {
    line-height: 18px;
    color: #5a5a5a;
  }

  #mail-icon {
    position: relative;
    top: 4px;
  }

  h1.logo-primary {
    font-size: 30px;
    float: left;
    color: #16B2B9;
    margin-left: 60px;
    padding: 10px 0;
  }

  ul.primary-controls {
    position:relative;
    float: right;
    font-size: 16px;
  }

  section.main {
    margin: 50px 50px;
    display: block;
  }

  strong#notification-count {
    position: relative;
    top: -1px;
    font-size: 12px;
    background-color: #16B2B9;
    color: white;
    padding: 4px 7px;
    margin-left: 3px;
    border-radius: 100%;
  }

  li:hover strong#notification-count {
    background-color: #CA16C2;
    color: white;
  }

  ul.user-controls {
    position: absolute;
    border: 3px solid black;
    top: 43px;
    left: -150px;
    background-color: #fff;
    width: 200px;
    display: none;
  }

  ul.user-controls > li > a:hover {
    background-color: #9E9E9E;
  }

  ul.user-controls > li > a {
    color: black;
    display: block;
    border-bottom: 3px solid black;
    padding: 0;
    font-size: 12px;
    padding: 7px 5px 10px 10px;
  }

  li#controls:hover > ul.user-controls {
    display: block;
  }

  ul.user-controls > li:last-child > a{
    border-bottom: 0;
  }

  ul.dropdown {
    position: absolute;
    border: 3px solid black;
    top: 43px;
    left: 77px;
    background-color: #fff;
    width: 200px;
    display: none;
  }

  ul.dropdown > li > a:hover {
    background-color: #9E9E9E;
  }

  ul.dropdown > li > a {
    color: black;
    display: block;
    border-bottom: 3px solid black;
    padding: 0;
    font-size: 12px;
    padding: 7px 5px 10px 10px;
  }

  li#notifications:hover > ul.dropdown {
    display: block;
  }

  ul.dropdown > li:last-child > a{
    border-bottom: 0;
  }

  ul#notifications-index {
    width: 600px;
  }

  li.notification {
    padding: 10px;
  }

  ul.thread-messages {
    margin: 50px;
    display:block;
    width: 600px;
  }

  li.message {
    background-color: #71D7DC;
    display:block;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
  }

  li.message p {
    padding: 5px;
  }

  img.avatar-thread {
    height: 40px;
    width:auto;
    border-radius: 10px;
    float:left;
    padding: 5px;
  }

  time.time-ago {
    font-size: 12px;
  }

  h3.thread {
    padding: 15px;
  }
