/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

  body, h1, h2, h3, h4, a, nav, ul, li, form, p, label {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
  }

  body {
    background-color: #16B2B9;
    font-family: sans-serif;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }

  label {
    display: block;
  }

  a:visited {
    color: #FFF;
  }

  h1 {

  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 10px;
  }

  .group:after {
    clear: both;
    content: "";
    display: block;
  }

  nav.primary {
    background-color: #FFC755;
  }

  h1.logo-primary {
    font-size: 20px;
    float: left;
    padding:10px;
  }

  ul.user-controls {
    float: right;
    font-size: 16px;
  }

  section.main {
    margin: 50px 50px;
    display: block;
  }