
/* Errors & Notices */

section.errors {
  background-color: #fef09c;
  border-radius: 5px;
  color: #5a5a5a;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
}

section.errors p {
  padding:5px;
}

section.notices {
  background-color: #71d7dc;
  border-radius: 5px;
  color: #FFF;
  margin-bottom: 20px;
  padding: 5px;
  font-weight: bold;
}

section.notices p {
  padding:5px;
}


/* Home page */

section.home-page-articles {
/*  width: 950px;*/
  margin: auto;
  margin-bottom: 20px;
}

section.home-page-articles article:first-child {
  margin:0;
}

article.home-page {
  width: 305px;
  float:left;
  margin-left:14px;
  padding: 0;
}




/* Main section */

section.main {
  display: block;
  width: 950px;
  margin: 20px auto;
/*  background-color: #fff;*/
}