
/* Threads index */

table.threads {
  width: 948px;
}

tr.thread {
  background-color: #fff;

}

tr.thread:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

td.thread-name {
  text-align: left;
  margin-left: 10px;
}

td img {
  width: auto;
  height: 40px;
  border-radius: 5px;
}

td.latest-message-text {
  text-align: left;
  max-width: 440px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Messages View */


section.threads-sidebar {
  float:left;
  width: 240px;
  border-right: 1px solid #ccc;
  border: 1px solid red;
}


div.thread-new-message {
  background-color: #71D7DC;
  border-radius: 5px;
  width: 400px;
  padding: 15px;
  margin-left: 0;
}

div.thread-new-message textarea {
  width: 375px;
  border-radius: 5px;
  background-color: #fff;
}

div.thread-new-message input[type="submit"] {
  background-color: #16B2B9;
  color: #fff;
}

ul.thread-messages {
  display:block;
  width: 700px;
  float: right;
  border: 1px solid red;
}

li.message {
  display:block;
  margin: 15px 0;
  margin-left: 250px;
}

li.me {
  margin-left: 0;
  max-width: 500px
}

li.message p.message-text {
  border-radius: 10px;
  background-color: #71D7DC;
  padding: 15px;
}

img.avatar-thread {
  height: 40px;
  width:auto;
  border-radius: 10px;
  float:right;
  padding: 5px;
}

.me img.avatar-thread {
  height: 40px;
  width:auto;
  border-radius: 10px;
  float:left;
  padding: 5px;
  border: none;
}

time.time-ago {
  font-size: 12px;
  float: right;
  margin: 5px;
}

li.me time {
  float: left;
}

h3.thread {
  padding: 15px;
}
