
/* Threads index */

table.threads {
  width: 948px;
}

tr.thread {
  background-color: #fff;

}

tr.thread:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

td.thread-name {
  text-align: left;
  margin-left: 10px;
}

td img {
  width: auto;
  height: 40px;
  border-radius: 5px;
}

td.latest-message-text {
  text-align: left;
  max-width: 440px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Threads Side Bar */


section.threads-sidebar {
  float:left;
  width: 250px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  border: 1px solid #ccc;
}

ul.threads-side-list h3 {
  margin: 10px;
}

li.thread {
  background-color: #fff;
  display: block;
  padding: 5px;
  border-top: 1px solid #ccc;
}

li.thread:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

li.thread i {
  float: left;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 13px;
}

li.thread img {
  height: 40px;
  width: auto;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.message-details-small {
  float: left;
  width: 165px;
}

div.message-details-small strong {
  float: left;
  font-size: 14px;
}

div.message-details-small time {
  float: right;
  padding-top: 3px;
  font-size: 12px;
}

p.latest-message-text-short {
  margin-top: 5px;
  float: left;
  display: block;
  text-align: left;
  max-width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}


 /* Messages Main View */

 ul.thread-messages {
   display:block;
   width: 690px;
   float: right;
   max-height: 800px;
   overflow: scroll;
 /*  border: 1px solid red;*/
 }

div.thread-new-message {
  background-color: #71D7DC;
  border-radius: 5px;
  width: 445px;
  padding: 15px;
  margin-left: 0;
}

div.thread-new-message textarea {
  width: 375px;
  border-radius: 5px;
  background-color: #fff;
}

div.thread-new-message input[type="submit"] {
  background-color: #16B2B9;
  color: #fff;
}

li.message {
  display:block;
  margin: 15px 0;
  margin-left: 200px;
}

li.me {
  margin-left: 0;
  max-width: 475px
}

li.message p.message-text {
  border-radius: 10px;
  background-color: #71D7DC;
  padding: 15px;
}

img.avatar-thread {
  height: 40px;
  width:auto;
  border-radius: 10px;
  float:right;
  padding: 5px;
}

.me img.avatar-thread {
  height: 40px;
  width:auto;
  border-radius: 10px;
  float:left;
  padding: 5px;
  border: none;
}

time.time-ago {
  font-size: 12px;
  float: right;
  margin: 5px;
}

li.me time {
  float: left;
}

h3.thread {
  padding: 15px;
}
