/* Messages and message threads */

ul.thread-messages {
  margin: 50px;
  display:block;
  width: 600px;
}

li.message {
  background-color: #71D7DC;
  display:block;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
}

li.message p {
  padding: 5px;
}

img.avatar-thread {
  height: 40px;
  width:auto;
  border-radius: 10px;
  float:left;
  padding: 5px;
}

time.time-ago {
  font-size: 12px;
}

h3.thread {
  padding: 15px;
}