
  /* User profile */


  img.profile-thumb {
    border-radius: 5px;
    border: 5px solid #16B2B9;
    float:left;
    margin: 0 20px 20px 0;
    width:230px;
  }

  .profile-info {
/*    margin-top: 20px;*/
  }

  /* Reviews */

  section.profile-sidebar {
    float:left;
    width: 240px;
    margin-right: 20px;
  }

  div.message-form textarea{
    width: 230px;
  }

  section.profile-content {
    float:right;
    width: 660px;
    padding-left: 20px;
    border-left: 1px solid #ccc;

  }

  article.profile-description {
    margin: 20px 0;
  }

  .profile-content textarea {
    width: 648px;
  }

  .user-reviews {
    float:right;
    width:660px;
  }

  h3.reviews-title {
    margin-top: 40px;
  }

  .review > header {
    margin-top: 20px;
    display:block;
  }

  .review-thumb {
    float: left;
  }

  .review-thumb img {
    border: 3px solid #16B2B9;
    margin-right: 20px;
    border-radius: 5px;
  }

  .review-thumb img:hover {
    border: 3px solid rgba(0,0,0,0.2);
  }

  .review-info h4 {
    font-weight: bold;
  }

  .review-info time {
    color: #999;
  }

  .review {
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }

  .review-text {
    margin-left: 80px;
  }