
<h2><%= @user.fname %>'s Trips</h2>

<% unless @requests.empty? %>

  <% @requests.each do |request| %>

    <%= render partial: "layouts/room_request", locals: { request: request, room: request.room }  %>

    <hr>

  <% end %>

<% end %>


<!-- should i include the rooms when i get @requests in the controller? -->
