
<h3><%= @user.fname %>'s Trips</h3><br>

<% unless @requests.empty? %>

  <% @requests.each do |request| %>

    <%= render partial: "layouts/room_request", locals: { request: request, room: request.room }  %>

    <hr>

  <% end %>

<% end %>

<!-- <div id='map' class='dark'></div>
<script type='text/javascript'>
  var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
</script> -->


<!-- should i include the rooms when i get @requests in the controller? -->
