  <div class="datepicker" ></div>

  <script >

    $(function() {

      $(".datepicker").datepicker({
        beforeShowDay: function(date) {
          var y = new Array()

          // compare date against approved requests
          <% unless room.approved_requests.empty? %>
              var a =(
            <% room.approved_requests.each do |x| %>
            (date < new Date(<%= to_ms(x.start_date) %>) || date > new Date(<%= to_ms(x.end_date) %>)) &&
            <% end %> true);
          <% else %>
            var a = true
          <% end %>

          // compare date against availabilities
          <% unless room.availabilities.empty? %>
            var b =(<% room.availabilities.each do |x| %>
                      (date >= new Date(<%= to_ms(x.start_date) %>) && date <= new Date(<%= to_ms(x.end_date) %>)) ||
                    <% end %> false);
          <% else %>
            var b = false
          <% end %>

          y.push( (a && b) )
          y.push( (a && b) ? "" : "red")
          return y;
        }

      });
    });
  </script>




    <!-- $(function() {

      $(".datepicker").datepicker({
        beforeShowDay: function(date) {

          var y = new Array()

          var a =(
          <%# room.approved_requests.each do |x| %>
          date <= new Date(<%#= to_ms(x.start_date) %>) || date >= new Date(<%#= to_ms(x.end_date) %>) ||
          <%# end %> false);

          var b =(
          <%# room.availabilities.each do |x| %>
          date >= new Date(<%#= to_ms(x.start_date) %>) && date <= new Date(<%#= to_ms(x.end_date) %>) || <%# end %>
          false);
          console.log(date, "a", a)
          console.log(date, "b", b)
          // console.log( a && b )
          y.push( (a && b) )
          y.push( (a && b) ? "" : "red")
          return y;
        }

      });
    }); -->